#ins, #disp {
	width: 50%;
	border: 1px solid gray;
}

input {
	text-align: center;
	margin: 3px;
}

.code {
	font-family: Courier New;
	margin: 5px;
	border: 1px solid gray;
	background-color: lightgray;
	white-space: pre;
}